.add-comment-form {
  width: 375px;
}
.add-comment-form .form-header {
  color: grey;
}
/*После запятой перечислять все с нуля, как будто до этого ничего не было написано*/
.required-field-label span, .non-required-field-label span{
  font-size: 18px;
  font-weight: bold;
  width: 70px;
  margin: 5px;
  display: inline-block;
  text-align: right;
}

.required-field-label span::after {
  content: "*";
  color: #B01B1D;
}

.add-comment-form input {
  display: inline-block;
  margin: 7px 0;
  height: 23px;
}

.add-comment-form select {
  display: inline-block;
  margin: 7px 0;
  height: 27px;
}

input.btn-send, input.btn-cancel {
  height: 27px;
  background-color: white;
  width: 100px;
  margin-left: 70%;
}
input.btn-cancel {
  margin-left: 40%;
  display: none;
}

.add-comment-form .rules {
  display: inline-block;
  margin: 7px 0;
}

.add-comment-form .rules input {
  display: inline-block;
  height: auto;
  margin: 0 5px;
}

.txb-name, .txb-age, .pklt-gender, .txb-message, .chb-rules, .btn-send, .btn-cancel{
  border-radius: 3px;
  border: 1px solid #CDCDCD;
}

.txb-name {
  width: 275px;
}
.txb-age {
  width: 80px;
}
.pklt-gender {
  width: 107px;
}
.txb-message {
  width: 272px;
  resize: vertical;
  height: 100px;
  margin: 7px 0;
  white-space: pre-wrap;
}
