.topic, .breadcrumb, .comments {
  width: 90%;
  margin: auto;
}

.topic_title {
  margin: 1px;
  color: grey;
}
.topic_introduction {
  font-weight: bold;
}
.topic_subtitle {
  margin: 3px;
  margin-top: 12px;
}
.topic_body {
  border: 1px solid #9A9A9A;
  padding: 1em;
}
.topic_sub {
  font-style: italic;
  float: right;
  width: 300px;
  text-align: right;
}

.date {
  padding-left: 10%;
  font-weight: bold;
}

img {
  float: left;
}

.no_float {
  clear: left;
}

table {
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  border: 1px solid #DDD;
  text-align: left;
 }

 td.section {
   text-align: right;
   font-weight: bold;
   vertical-align: top;
 }

 td span.important {
  text-decoration: underline;
 }
