.top_menu {
  background-color: #3878B6;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
nav {
  overflow: hidden;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px 20px 10px 20px;
  font-family: calibri;
  display: inline-block;
  float:left;
}
nav a#active {
  color: black;
  background-color: white;
  font-weight: bold;
}
nav a:hover {
  color: black;
  background-color: white;
}
